<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">

<div class="card">
  <div class="card-header">
    <h2>Profil bearbeiten</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
     <br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Neues Passwort" %>
    <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Neues Passwort wiederholen" %>
  </div>

  <div class="field form-group">
    <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Derzeitiges Passwort" %>
    <br/>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-success" %>

  </div>
<% end %></p>
    
  </div>
</div>





<br/> <br/>

<div class="card">
  <div class="card-body">
    <h3>Account löschen</h3>
    <br>
    <p>Unglücklich? <%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Sind Sie sich sicher?" }, method: :delete, class:"btn btn-danger" %></p>
    <br>
  </div>
</div>



<br>

<%= link_to "Zurück", :back, class:"btn btn-success" %>

</body>